.em-range {
  width: 70%;
  line-height: 52px;
}

.em-range__slider-wrap {
  padding: 10px;
  margin: -10px;
}

.em-list-item__title-wrapper {
  line-height: 20px;
}

.em-list-item__title {
  width: 130px;
  display: inline-block;
}

.em-button--text {
  display: inline-block;
  width: auto;
  padding: 12px 20px;
}