#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 40px;

  .output {
    width: 80%;
    display: block;
    margin: 20px auto;
  }

  .img-inputer.picked {
    height: auto;
  }

  .img-inputer__preview-box {
    background-color: transparent;
    font-size: 0;
    position: relative;
  }

  .hidden {
    display: none;
  }

  .weixin-tip {
    font-size: 12px;
    color: #6a6c6e;
  }
}